 .u-section-1 {
  background-image: url("images/background-1409125.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1177px;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 287px;
  margin: 16px 402px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 100px;
  height: 287px;
  margin: -128px auto 0 374px;
}

.u-section-1 .u-image-3 {
  width: 100px;
  height: 287px;
  margin: -243px 60px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 100px;
  height: 287px;
  margin: -226px auto 0 31px;
}

.u-section-1 .u-image-5 {
  width: 100px;
  height: 287px;
  margin: -56px 237px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -336px auto 0;
}

.u-section-1 .u-image-6 {
  width: 100px;
  height: 287px;
  margin: 24px auto 0;
}

.u-section-1 .u-image-7 {
  width: 100px;
  height: 287px;
  margin: -237px auto 0 111px;
}

.u-section-1 .u-image-8 {
  width: 100px;
  height: 287px;
  margin: -233px 60px 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: 303px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -157px;
    margin-left: 344px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -256px;
    margin-right: 53px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -251px;
    margin-left: 68px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -115px;
    margin-right: 196px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -275px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -6px;
    margin-right: 401px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -287px;
    margin-left: 127px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -199px;
    margin-right: 67px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-right: 222px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -159px;
    margin-left: 220px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -302px;
    margin-right: 27px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -220px;
    margin-left: -11px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -108px;
    margin-right: 56px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -298px;
    margin-right: 107px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -29px;
    margin-right: 289px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 89px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -104px;
    margin-right: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -6px;
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-image-1 {
    width: 50px;
    margin-top: -54px;
    margin-right: 220px;
  }

  .u-section-1 .u-image-2 {
    width: 50px;
    margin-top: -192px;
    margin-left: 163px;
  }

  .u-section-1 .u-image-3 {
    width: 50px;
    margin-top: -279px;
    margin-right: 51px;
  }

  .u-section-1 .u-image-4 {
    width: 50px;
    margin-top: -269px;
    margin-left: 37px;
  }

  .u-section-1 .u-image-5 {
    width: 50px;
    margin-top: -155px;
    margin-right: 76px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -238px;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    width: 50px;
    margin-top: -106px;
    margin-right: 194px;
  }

  .u-section-1 .u-image-7 {
    width: 50px;
    margin-top: -264px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-8 {
    width: 50px;
    margin-top: -222px;
    margin-right: 57px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -39px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-image-1 {
    width: 40px;
    margin-top: -73px;
    margin-right: 108px;
  }

  .u-section-1 .u-image-2 {
    width: 40px;
    margin-top: -214px;
    margin-left: 102px;
  }

  .u-section-1 .u-image-3 {
    width: 40px;
    margin-top: -263px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 40px;
    margin-top: -283px;
  }

  .u-section-1 .u-image-5 {
    width: 40px;
    margin-top: -169px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -220px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-image-6 {
    width: 40px;
    margin-top: -79px;
    margin-right: 130px;
  }

  .u-section-1 .u-image-7 {
    width: 40px;
    margin-top: -309px;
    margin-left: 40px;
  }

  .u-section-1 .u-image-8 {
    width: 40px;
    height: 129px;
    margin-top: -114px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 61px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 409px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
  font-size: 3rem;
}

.u-section-2 .u-image-1 {
  width: 278px;
  height: 278px;
  margin: 17px auto 0 -68px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: -254px -249px 60px 335px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: -50px;
    margin-left: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-image-1 {
    width: 233px;
    height: 233px;
    margin-top: 28px;
    margin-left: -50px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: -206px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    width: 188px;
    height: 188px;
    margin-top: 43px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -172px;
    margin-right: -50px;
    margin-left: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-1 {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    margin-left: -15px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.5rem;
    margin-top: -85px;
    margin-right: 0;
    margin-left: 85px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 640px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 47px auto 0 0;
}

.u-section-3 .u-table-1 {
  margin-top: 47px;
  margin-bottom: 55px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-6 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-7 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-8 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-9 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-10 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-11 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-12 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-13 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-14 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-15 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-16 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-17 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-18 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-19 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-20 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-21 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-22 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-23 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-24 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-25 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-26 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-27 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-28 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-29 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-30 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-31 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-32 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-33 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-34 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-35 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-footer-1 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-36 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-37 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-38 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-39 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-40 {
  font-weight: 400;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-3 .u-table-1 {
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 32px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-table-1 {
    margin-top: 55px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-table-header-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 41px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-table-1 {
    margin-top: 41px;
  }
}